{% extends 'layout.html.jinja' %}
{%block content%}
    <div>
        {% if user is none %}
            <h1>If you're me, go ahead and prove it: </h1>
            <form action="" method="POST">
                <input type="password" name="passphrase" id="passphrase">
            </form>
        {% else %}
            <h1>Says here you're me. Lucky you!</h1>
        {% endif %}
    </div>
{%endblock content%}
