<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Andrew Lorente</title>
    <meta name="description" content="OpenID Identity Provider for Andrew Lorente">
    <meta name="author" content="Andrew Lorente">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/screen.css">

    {%block head%}{%endblock head%}
</head>
<body>
    <div id="page-content" class="container">
        {%block content%}{%endblock content%}
    </div>
</body>
</html>
