<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Andrew Lorente</title>
    <meta name="description" content="OpenID Identity Provider for Andrew Lorente">
    <meta name="author" content="Andrew Lorente">
</head>
<body>
    <div id="page-content">
        {%block content%}{%endblock content%}
    </div>
</body>
</html>
